
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


.header {
  grid-area: header;
  background-color: #c9e265;
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 35px;
}


.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header' 
    'middle middle middle middle' 
    'footer footer footer footer';
  
} 

.left,
.middle,
.right {
  padding: 10px;

}


.left {
  grid-area: left;
}


.middle {
  grid-area: middle;
}


.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: right;
}


  }
}

